@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&family=Cormorant:wght@300&family=Dancing+Script&family=Montserrat:ital,wght@0,400;1,300&family=Nuosu+SIL&family=Rubik:wght@300&family=Staatliches&display=swap");

html {
  background: linear-gradient(to left, #dadada -5%, #ff9b7354 64%);
  height: 100%;
}
h1 {
  font-family: "Dancing Script", cursive;
  color: #000000cf;
  margin-top: 11%;
  margin-left: 12%;
}
.goHome {
  margin-left: 50%;
  margin-top: 25px;
  background-color: #00000036;
  border: none;
  border-radius: 10px;
  width: 190px;
  height: 45px;
  transition: 0.5s;
}
.goHome:after {
  content: "\00bb";
  transition: 0.5s;
}
.goHome:hover {
  padding-right: 25px;
}

.goHome:hover {
  opacity: 1;
  right: 0;
}
